@charset "UTF-8";
div{
    display: inline-block;
    background-color: lightgrey;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
}
div:hover > h1{
    display: block;
    color: gold;
    background-color: yellow;
}
div > h1{
   display: none;
}
div:hover > p{
    display: block;
    color: green;
    background-color: yellow;
}
div > p{
    display: none;
    
}
div:hover{
    color:pink;
   background-color: aquamarine;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}
